# See https://www.robotstxt.org/robotstxt.html for documentation on how to use the robots.txt file
User-agent: *
Disallow: /auth/verification/
Disallow: /auth/reset-password/
Disallow: /auth/dashboard/



User-agent: *
Allow: /


