@entryPointScripts('dashboardMenu')
@entryPointStyles('dashboardMenu')
@entryPointScripts('all')
<body> 
    <header class="cab">
        <section class="Menu">
            <section class="menu">
                <div class="div-logo">
                    <img src="{{ asset('assets/images/logogif.gif')}}" class="Logo" alt="" id="Home">
                </div>
            </section>
        </section>  
    </header>


        @!section('body')


</body>

</html>    
       