<p> Olá {{user.name}},</p>

<p> Você solicitou a recuperação de senha para a sua conta <strong>SPYBET</strong>.</p>

<p> Para redefinir sua senha, clique no link abaixo:</p>

<p> <a href="{{appUrl(`auth/reset-password/${encodeURIComponent(token)}`)}}">Criar nova Senha</a></p>

<p> Caso não tenha solicitado a recuperação de senha, ignore este e-mail.</p>

<p> Atenciosamente,</p>

<p> Equipe <strong>SPYBET</strong></p>